* {
  /*폰트 스타일*/
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
  color: #212121;
}

html {
  font-size: 13px;
  /* 1rem - 13px*/
}

/* 공통 초기화 */
body {
  margin: 0;
  height: 1000px;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

dl,
dt,
dd {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  border: 0;
}

button {
  cursor: pointer;
  padding: 0;
}

/* Home_title */
.title {
  display: flex;
  position: fixed;
  top: 0;
  width: 30rem;
  left: 50%;
  margin-left: -15rem;
  justify-content: space-between;
  background-color: rgb(241, 241, 241);
  z-index: 10;
  height: 4rem;
}

.title .textY_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title h1 {
  align-items: center;
  display: block;
  padding: 0;
  margin-left: 1rem;
}

.title img {
  width: 1.2rem;
}

.title a:hover {
  cursor: pointer;
  
}

.title .button a {
  margin: 0.5rem;
}

.title .button {
  margin: auto 1rem auto 0;
  display: flex;
}

/* 메인 틀  */
.section {
  width: 30rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
}

/* 메인 프로필 */
.main {
  width: 100%;
  padding: 0 1rem;
}

.main img {
  width: 5rem;
  height: 5rem;
  border-radius: 30%;
}

.main_ps {
  display: flex;
  justify-content: space-between;
}

.main_flex {
  display: flex;
}

.main button {
  border-radius: 4rem;
  padding: 0.2rem;
  font-size: 0.7rem;
  height: 2rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid #888;
  color: #000000;
  margin: auto 0;
  font-weight: 600;
}

.main_text {
  margin: auto 0 auto 1rem;
  display: block;
}

.main_text>div:nth-child(1) {
  font-weight: 900;
}

.main_text>div:nth-child(2) {
  color: #888;
}

.solid {
  border-bottom: 0.5px solid #e4e4e4;
  margin: 1rem 0 1rem 0;
}

/* 내 멀티프로필 */
.mt_profile {
  width: 100%;
  padding: 0 1rem;
}

.mt_profile nav {
  display: flex;
  justify-content: space-between;
}

.mt_profile nav p {
  color: #888;
}

.mt_profile button {
  border: none;
  width: 10rem;
  background-color: transparent;
  padding-left: 6rem;
}

.mt_profile nav img {
  width: 10px;
  opacity: 0.6;
}

.mt_drop li:nth-child(n + 2) {
  margin-left: 1rem;
}

.mt_profile ul p {
  text-align: center;
  font-weight: 900;
  font-size: 1rem;
}

.mt_drop {
  display: flex;
}

.mt_drop img {
  width: 3rem;
  height: 3rem;
  border-radius: 30%;
}

/* 생일인 친구 */
.bd_profile {
  width: 100%;
  padding: 0 1rem;
}

.bd_profile nav {
  display: flex;
  justify-content: space-between;
}

.bd_profile nav p {
  color: #888;
}

.bd_profile button {
  border: none;
  width: 10rem;
  background-color: transparent;
  padding-left: 6rem;
}

.bd_profile nav img {
  width: 10px;
  opacity: 0.6;
}

.bd_drop li:nth-child(n + 2) {
  margin-top: 1rem;
}

.bd_drop li {
  display: flex;
  justify-content: space-between;
}

.bd_drop nav div {
  margin-left: 1rem;
}

.bd_drop p:nth-child(1) {
  font-weight: 900;
  color: #000000;
}

.bd_drop p:nth-child(2) {
  font-size: 0.5rem;
  color: #888;
}

.bd_drop li img {
  width: 3rem;
  height: 3rem;
  border-radius: 30%;
  opacity: 1;
}

.bd_drop li button {
  border: 1px solid #ff0000;
  padding: 2px;
  width: 5rem;
  height: 1.5rem;
  border-radius: 15px;
  font-size: 0.8rem;
  font-weight: 900;
  display: flex;
  margin: auto 0;
}

.bd_drop button img {
  width: 1rem;
  height: 1rem;
}

/* 업데이트한 친구 */
.ud_profile {
  width: 100%;
  padding: 0 1rem;
}

.ud_profile nav {
  display: flex;
  justify-content: space-between;
}

.ud_profile nav p {
  color: #888;
}

.ud_profile button {
  border: none;
  width: 10rem;
  background-color: transparent;
  padding-left: 6rem;
}

.ud_profile nav img {
  width: 10px;
  opacity: 0.6;
}

.ud_drop li:nth-child(n + 2) {
  margin-left: 1rem;
}

.ud_profile ul p {
  text-align: center;
  font-weight: 900;
  font-size: 1rem;
}

.ud_drop {
  display: flex;
}

.ud_drop img {
  width: 3rem;
  height: 3rem;
  border-radius: 30%;
}

/* 추천친구 */
.pl_profile {
  width: 100%;
  padding: 0 1rem;
}

.pl_profile nav {
  display: flex;
  justify-content: space-between;
}

.pl_profile nav p {
  color: #888;
}

.pl_profile button {
  border: none;
  width: 10rem;
  background-color: transparent;
  padding-left: 6rem;
}

.pl_profile nav img {
  width: 10px;
  opacity: 0.6;
}

.pl_drop li {
  display: flex;
  justify-content: space-between;
}

.pl_drop nav div {
  margin: auto 1rem;
}

.pl_drop p:nth-child(1) {
  font-weight: 900;
  color: #000000;
}

.pl_drop li img {
  width: 3rem;
  height: 3rem;
  border-radius: 30%;
  opacity: 1;
}

.pl_drop button {
  margin: auto 0;
  font-size: 0.8rem;
  color: #888;
}

.pl_drop button img {
  width: 1rem;
  height: 1rem;
}

/* 채널 */
.cn_profile {
  width: 100%;
  padding: 0 1rem;
  overflow: hidden;
}

.cn_profile nav {
  display: flex;
  justify-content: space-between;
}

.cn_profile nav p {
  color: #888;
}

.cn_profile button {
  border: none;
  width: 10rem;
  background-color: transparent;
  padding-left: 6rem;
}

.cn_profile nav img {
  width: 10px;
  opacity: 0.6;
}

.cn_drop li {
  display: flex;
  justify-content: space-between;
}

.cn_drop nav div {
  margin: auto 1rem;
}

.cn_drop p:nth-child(1) {
  font-weight: 900;
  color: #000000;
}

.cn_drop li img {
  width: 3rem;
  height: 3rem;
  border-radius: 30%;
  opacity: 1;
}

.cn_drop button {
  margin: auto 0;
  font-size: 0.8rem;
  color: #888;
}

.cn_drop button img {
  width: 1rem;
  height: 1rem;
}

/* 채널추가 */
.img_ss{
  position: relative;
  background-color: #ffffff;
  height: 12rem;
  width: 100%;
  overflow-y: hidden;
  display: flex;
}

.ch_add {
  display: flex;
  margin: 0;
  /* width: 71rem; */
  width: 200%;
  transform: translate(0, 0);
}

.ch_add li:nth-child(n+2) {
  margin-left: 1rem;
}

.ch_add li {
  width: 8rem;
  height: 10rem;
  background-color: #eee;
  border-radius: 5px;
  
}

.ch_position {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.ch_position img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 30%;
  margin: auto;
  margin: 0.5rem auto 0.5rem;
}

.ch_position p:nth-child(2) {
  font-weight: 900;
  font-size: 0.9rem;
  margin: 0 auto;
}

.ch_position p:nth-child(3) {
  color: #888;
  font-size: 0.8rem;
  margin: 0.5rem auto 0.5rem;
  padding: 0 0.8rem;
}

.ch_position button {
  font-size: 1rem;
  padding: 0;
  width: 4rem;
  background-color: #ddd;
  border-radius: 5px;
  margin: auto;
}

#endtext{
  color: #888;
  font-size: 0.8rem;
  margin: 0.5rem 0 ;
  text-align: right;
}

/* 친구 */
.friends_profile {
  width: 100%;
  margin-bottom: 5rem;
  padding: 0 1rem;
}

.friends_profile nav {
  display: flex;
  justify-content: space-between;
}

.friends_profile nav p {
  color: #888;
}

.friends_profile button {
  border: none;
  width: 10rem;
  background-color: transparent;
  padding-left: 6rem;
}

.friends_profile nav img {
  width: 10px;
  opacity: 0.6;
}

.friends_drop li:nth-child(n + 2) {
  margin-top: 1rem;
}

.friends_drop li {
  display: flex;
  justify-content: space-between;
}

.friends_drop nav div {
  margin-left: 1rem;
}

.friends_drop p:nth-child(1) {
  font-weight: 900;
  color: #000000;
}

.friends_drop p:nth-child(2) {
  font-size: 0.5rem;
  color: #888;
}

.friends_drop li img {
  width: 3rem;
  height: 3rem;
  border-radius: 30%;
  opacity: 1;
}

.friends_drop li button {
  border: 1px solid #00ff0d;
  padding: 2px;
  max-width: 8rem;
  height: 1.5rem;
  border-radius: 15px;
  font-size: 0.8rem;
  font-weight: 900;
  display: flex;
  margin: auto 0;
}

.friends_drop button img {
  width: 1rem;
  height: 1rem;
}
.friends_drop button p:nth-child(1){
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
}
.friends_drop button p:nth-child(2){
  font-weight: 900;
  color: #00ff0d;
  margin: 0 0.5rem;
}





