/* Home_title */
.title {
  display: flex;
  position: fixed;
  top: 0;
  width: 30rem;
  left: 50%;
  margin-left: -15rem;
  justify-content: space-between;
  background-color: rgb(241, 241, 241);
  z-index: 10;
  height: 4rem;
}

.title .textY_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title h1 {
  align-items: center;
  display: block;
  padding: 0;
  margin-left: 1rem;
}

.title img {
  width: 1.2rem;
}

.title a:hover {
  cursor: pointer;
  
}

.title .button a {
  margin: 0.5rem;
}

.title .button {
  margin: auto 1rem auto 0;
  display: flex;
}